{% extends 'base.html.twig' %}
 
{% block body %}


<section id="container" class="">
{% include 'reservation/header.html.twig' %}

      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
		  <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-files-o"></i> Form Validation</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
						<li><i class="icon_document_alt"></i>Forms</li>
						<li><i class="fa fa-files-o"></i>Form Validation</li>
					</ol>
				</div>
			</div>
              <!-- Form validations -->              
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Form validations
                          </header>
                          <div class="panel-body">
                              <div class="form">


    {{ form_start(form) }}
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_widget(form) }}
 {#        {{ dump(form) }} #}

    {{ form_end(form) }}

                              </div>
                          </div>
                      </section>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section>
      {% block javascripts %}
        {{ parent() }}
            <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript">
 // $( document ).ready(function() {    
 //     $('#pax_father_name_name').on('change', function() {
 //   $('#father_name_name').css("display", "none");
         
 //        });
 //    });

 $(document).ready(function() {

  $('#pax_father_name_name').hide();
  $('label[for=pax_father_name_name]').hide();
  $('#pax_nombre_de_enfant').keyup(function(){
    $('label[for=pax_father_name_name]').show();
    $('#pax_father_name_name').show();
  });
  
    // if($('#pax_nombre_de_enfant').val() == 0){
    //   $("#pax_father_name_name").css("display", "block");
    // } else {
    //   $('#pax_father_name_name').css("display", "none");
    // }
   

  // $("#pax_father_name_name").css("display", "none");
  //  $('#pax_nombre_de_enfant').on('keyup', function() {
   
  //       $('#father_name_name').css("display", "none");
        
  //     })
});


      </script>
       {% endblock %} 
{% endblock %}